<!-- Start Header -->
<link rel="stylesheet" type="text/css" href="/css/cookieconsent.min.css" />
<script src="/js/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#444444"
    },
    "button": {
      "background": "#3dadb2",
      "text": "#ffffff"
    }
  },
  "theme": "edgeless",
  "content": {
    "message": "Utilizamos cookies propias y de terceros para garantiza el correcto funcionamiento del sitio y la confiabilidad de los usuarios que lo visitan. Si sigues navegando estarás aceptando su uso.",
    "dismiss": "Acepto",
    "link": "Leer más",
    "href": "/politica-de-cookies/"
  }
})});
</script>
<script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"><a class="scroll" href="/#top">Inicio</a></span>
                <span class="icon-bar"><a class="scroll" href="/#about">Sobre nosotros</a></span>
                <span class="icon-bar"><a class="scroll" href="/#services">Nuestros servicios</a></span>
                <span class="icon-bar"><a class="scroll" href="/#location">Dónde estamos</a></span>
            </button>
            <a class="navbar-brand scroll" href="/"><img src="/{{ site.logo_url }}" alt="{{ site.title }}"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse scrollspy" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="scroll" href="/#top">Inicio</a></li>
                <li><a class="scroll" href="/#about">Sobre nosotros</a></li>
                <li><a class="scroll" href="/#services">Nuestros servicios</a></li>
                <li><a class="scroll" href="/#location">Dónde estamos</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Header -->
