{% include doctype-head.html %}
<body data-spy="scroll" data-offset="80" data-target=".scrollspy" id="top" style="padding-top: 1px;">
    {% include svg-defs.svg %}
    <!--[if lt IE 10]>
        <p class="oldie">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> to better experience this site.</p>
    <![endif]-->

    {% include header.html %}

        {{ content }}

    {% include footer.html %}

    {% if site.analytics %}
        {% include analytics.html %}
    {% endif %}

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script> -->
    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/js/fa-all.min.js"></script>
    <!--<script src="{{ site.baseurl }}/js/jquery.min.js"></script>-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/cookieconsent.min.css" />
    <script src="{{ site.baseurl }}/js/cookieconsent.min.js"></script>
    <script>
    window.addEventListener("load", function(){
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#444444"
        },
        "button": {
          "background": "#3dadb2",
          "text": "#ffffff"
        }
      },
      "theme": "edgeless",
      "content": {
        "message": "Utilizamos cookies propias y de terceros para garantiza el correcto funcionamiento del sitio y la confiabilidad de los usuarios que lo visitan. Si sigues navegando estarás aceptando su uso.",
        "dismiss": "Acepto",
        "link": "Leer más",
        "href": "/politica-de-cookies/"
      }
    })});
    </script>
    
    <script>
    var scrollDuration = 800;
    var ssSmoothScroll = function() {
      $('.smoothscroll').on('click', function (e) {
        var target = this.hash,
        $target = $(target);
        e.preventDefault();
        e.stopPropagation();
        $('html, body').stop().animate({'scrollTop': $target.offset().top}, scrollDuration, 'swing', function () {
          window.location.hash = target;
        });
      });
    };  
    </script>

    <!-- <script src="{{ site.baseurl }}/js/jquery.magnific-popup.js"></script>
    <script src="{{ site.baseurl }}/js/gmap3.js"></script> -->
</body>
</html>
